<div class="container__small-card">

    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://img.elo7.com.br/product/zoom/3CF33A7/painel-barbie-10-2-00x1-50-decoracao.jpg"
                alt="" height="200px">
        </div>
        <div class="small-card__title">
            <h1><a href="#">a nova versao do Angular</a></h1>
        </div>
    </div>
    
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>